<ion-header>
  <ion-toolbar>
    <ion-title color="light">Add Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label>Customer</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="customer">Customer</ion-select-option>
          </ion-select>
          Total:
        </ion-item>
      </ion-list>
    </ion-card-header>
    
    <ion-item>
      <ion-button color="success">
        <ion-icon name="add"  size="small"></ion-icon>
        Add Items
      </ion-button>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label>Product</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="product">Product</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-input placeholder="Qty"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input placeholder="Amount"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>  

  </ion-card>

</ion-content>
