

<ion-content>
<div class="card1">
  <img src="assets/img/logo.svg" alt="sui dhaga logo" class="img=fluid">
</div>

<div class="inp_uts">
  <ion-item>
    <ion-label position="floating" class="lab_le">Fulll Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="lab_le">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"class="lab_le">Phone Number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="lab_le">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div class="butt_on">
    <ion-button shape="round">Register</ion-button>  
  </div>
</div>  

</ion-content>
