

<ion-content>
<div class="card1">
  <img src="assets/img/logo.svg" alt="sui dhaga logo" class="img=fluid">
</div>



<section class="main_section">
<div class="first_input">
  
  <ion-input placeholder="Enter Input"></ion-input>
</div>
<div class="first_input">
  <ion-input placeholder="Enter Input"></ion-input>
</div>


<div class="first_input">

  <ion-input placeholder="Enter Input"></ion-input>
</div>



<div class="first_input">

<ion-input placeholder="Enter Input"></ion-input>
</div>
</section>
</ion-content>
