

<ion-content>
<div class="card1">
  <img src="assets/img/logo.svg" alt="sui dhaga logo" class="img=fluid">
</div>

<div class="form">
  <ion-item>
    <ion-label position="floating" class="lab_le">Phone Number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"class="lab_le">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
   <div class="butt_on">
    <ion-button shape="round">Login</ion-button>  
  </div>
</div>  
<div class="powerd_by">
  <p class="core2plus">Powerd by Core2Plus</p>
  <img src="assets/img/core2plus.png" alt="" class="core2plus_img">
</div>

</ion-content>
