<ion-header>
  <ion-toolbar>
    <ion-title color="light" class="ion-text-center">Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://cdn.onlinewebfonts.com/svg/img_90947.png" alt="">
  <ion-button color="app" class="add_button">
    <ion-icon name="add"></ion-icon>
  </ion-button>

  <ion-item>
    <ion-label position="floating" color="app">Product Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  
  <ion-item>
    <ion-label position="floating" color="app">Product Amount</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button color="app" class="save_button">Save</ion-button>


</ion-content>
