<ion-header>
  <ion-toolbar>
    
    <ion-row>
        <ion-title color="light" class="ion-text-center">Catalogue</ion-title>
     </ion-row>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated color="light" size="6"></ion-searchbar>
  <ion-card>
    <ion-card-content>
      <ion-row>
       
        <ion-col>
          <ion-item>
            <ion-img src="https://5.imimg.com/data5/RJ/EJ/MY-1806292/sewing-thread-500x500.jpg"></ion-img>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-input value="Product Name" readonly></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input value="50 PKR" readonly></ion-input>
          </ion-item>
          
        </ion-col>
        
      </ion-row>
      <ion-icon name="share-social-outline" slot="end" color="app"></ion-icon>
        
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
       
        <ion-col>
          <ion-item>
            <ion-img src="https://5.imimg.com/data5/RJ/EJ/MY-1806292/sewing-thread-500x500.jpg"></ion-img>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-input value="Product Name" readonly></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input value="50 PKR" readonly></ion-input>
          </ion-item>
          
        </ion-col>
        
      </ion-row>
      <ion-icon name="share-social-outline" slot="end" color="app"></ion-icon>
        
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
       
        <ion-col>
          <ion-item>
            <ion-img src="https://5.imimg.com/data5/RJ/EJ/MY-1806292/sewing-thread-500x500.jpg"></ion-img>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-input value="Product Name" readonly></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input value="50 PKR" readonly></ion-input>
          </ion-item>
          
        </ion-col>
        
      </ion-row>
      <ion-icon name="share-social-outline" slot="end" color="app"></ion-icon>
        
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row>
       
        <ion-col>
          <ion-item>
            <ion-img src="https://5.imimg.com/data5/RJ/EJ/MY-1806292/sewing-thread-500x500.jpg"></ion-img>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-input value="Product Name" readonly></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input value="50 PKR" readonly></ion-input>
          </ion-item>
          
        </ion-col>
        
      </ion-row>
      <ion-icon name="share-social-outline" slot="end" color="app"></ion-icon>
        
    </ion-card-content>
  </ion-card>

</ion-content>
