<ion-header>
  <ion-toolbar>
    <ion-title color="light" class="ion-text-center">Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/AddProduct.svg" alt="">

  <ion-button  size="large" color="app" routerLink="/catalogue">
    Catalogue
    <ion-icon slot="end" name="book"></ion-icon>
  </ion-button>

  
  <ion-button  size="large" color="app" routerLink="/add-product">
    Add Product
    <ion-icon slot="end"  name="add"></ion-icon>
  </ion-button>
  
  <div class="footer">
    <div class="img_footer">
    <img src="assets/img/core2plus.png" alt="Core2plus" class="core2plus_img">
    
    </div>
    <div class="powerded_by_text">
      <p>Powered By Core2Plus</p>
    </div>
  </div>
  

</ion-content>
