<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <div class="header_above">
    <img class="img_header" src="assets/img/mesaage.svg">
    <form action="">
      <input type="search">
      <ion-icon class="fa" name="search"></ion-icon>
    </form>

</div>
<ion-icon class="add_icon" name="person-add-outline" routerLink="/customer-details"></ion-icon>
<div class="main_div">
<ion-row>
  <ion-col size="3">
   <img src="assets/img/default-removebg-preview.png" alt="user image not found">
  </ion-col>

  <ion-col size="9">
    <div class="main_div_input">
     <b> <ion-input value="Mr Kaif" placeholder="Enter more information here..."></ion-input></b>
      <ion-input class="next_input" value="Area:Karachi Gulberg" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Contact:0309-2418863" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Bisiness To Date:10,000" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Outstanding abalance:2000" placeholder="Enter more information here..."></ion-input>
     
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="3">
   <img src="assets/img/default-removebg-preview.png" alt="user image not found">
  </ion-col>

  <ion-col size="9">
    <div class="main_div_input">
     <b> <ion-input value="Mr Kaif" placeholder="Enter more information here..."></ion-input></b>
      <ion-input class="next_input" value="Area:Karachi Gulberg" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Contact:0309-2418863" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Bisiness To Date:10,000" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Outstanding abalance:2000" placeholder="Enter more information here..."></ion-input>
     
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="3">
   <img src="assets/img/default-removebg-preview.png" alt="user image not found">
  </ion-col>

  <ion-col size="9">
    <div class="main_div_input">
     <b> <ion-input value="Mr Kaif" placeholder="Enter more information here..."></ion-input></b>
      <ion-input class="next_input" value="Area:Karachi Gulberg" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Contact:0309-2418863" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Bisiness To Date:10,000" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Outstanding abalance:2000" placeholder="Enter more information here..."></ion-input>
     
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="3">
   <img src="assets/img/default-removebg-preview.png" alt="user image not found">
  </ion-col>

  <ion-col size="9">
    <div class="main_div_input">
     <b> <ion-input value="Mr Kaif" placeholder="Enter more information here..."></ion-input></b>
      <ion-input class="next_input" value="Area:Karachi Gulberg" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Contact:0309-2418863" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Bisiness To Date:10,000" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Outstanding abalance:2000" placeholder="Enter more information here..."></ion-input>
     
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="3">
   <img src="assets/img/default-removebg-preview.png" alt="user image not found">
  </ion-col>

  <ion-col size="9">
    <div class="main_div_input">
     <b> <ion-input value="Mr Kaif" placeholder="Enter more information here..."></ion-input></b>
      <ion-input class="next_input" value="Area:Karachi Gulberg" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Contact:0309-2418863" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Bisiness To Date:10,000" placeholder="Enter more information here..."></ion-input>
      <ion-input class="next_input" value="Outstanding abalance:2000" placeholder="Enter more information here..."></ion-input>
     
    </div>
  </ion-col>
</ion-row>
</div>

<div class="footer">
  <div class="img_footer">
  <img src="assets/img/core2plus.png" alt="Core2plus" class="core2plus_img">
  
  </div>
  <div class="powerded_by_text">
    <p>Powered By Core2Plus</p>
  </div>
</div>

</ion-content>
