<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-header>
  <!-- <div class="header_above">
    <img class="img_header" src="assets/img/header.svg">
  </div> -->
  <!-- Scrollable Segment -->
  <ion-toolbar class="less-height" color="primary">
    <ion-segment scrollable mode="md" (ionChange)="segmentChanged(segment)" [(ngModel)]="segment">
      <ion-segment-button mode="md" id="seg-1" value="0">
        <p>Customer</p>
      </ion-segment-button>
      <ion-segment-button mode="md" id="seg-2" value="1">
        <p>Shop</p>
      </ion-segment-button>
      <ion-segment-button mode="md" id="seg-3" value="2">
        <p>Others</p>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- slide 1 -->
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" class="word-slides">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Contact</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">WhatsApp</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Select Picture</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <!-- slide 2 -->
    <ion-slide>
      <p>Slide 2</p>
    </ion-slide>
    <!-- slide 3 -->
    <ion-slide>
      <p>Slide 3</p>
    </ion-slide>

  </ion-slides>
  <ion-button (click)="pickImage()">prev</ion-button>
  <ion-button (click)="next()">next</ion-button>

</ion-content>